

html, body {
  margin: 10px;
  padding: 10px;
  
}

.grid {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: rgb(250, 213, 255);
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
}

.fruit {
  background-color: blue;
}